/*Общие стили для блока*/
.content__footer {
       display: -webkit-box;
              display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
               flex-direction: column;
       margin-top: 15.4%;/*60px*/
}

.footer {
       width: 100%;/*320px*/
       height: auto;/*240px*/
       padding: 11.25% 0 11.25% 4.8%;/*27px 16px*/
       background-color: #ECE5E1;
       border: 2px solid blue;
}

/*Стили для блока-обёртки*/
.footer__owner {
       display: -webkit-box;
       display: flex;
       -webkit-box-align: baseline;
               align-items: baseline;
       margin-bottom: 15.63%;/*50px*/
}

.owner {
       width: 100%;/*305px*/
       height: auto;
       border: 2px solid red;
}

/*Стили для блоков с контактами*/
.owner__list {
       margin-right: 6.56%;/*20px*/
}

.item--color__grey {
       font-family: "Cormorant-R", serif;
       font-size: 1rem;
       line-height: 1.125;
       color: #342B2B;
}

/*Стили для копирайта*/
.footer__copyright {
       align-self: flex-end;
}

.copyright {
       width: auto;
       height: auto;
       font-family: "Cormorant-R", serif;
       font-size: 0.875rem;/*14px*/
       line-height: 1.12;
       color: #342B2B;
}