/*Стили для информации о пользователе*/
.user__userInfo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.userInfo {
  height: 100%;
  font-family: "Roboto-R", serif;
  line-height: 1.3;
  border: 2px solid yellow;
}