/*Семейство шрифтов Jura*/
@font-face {
       font-family: "Jura-Regular";
       src: url("../fonts/Jura-Regular.ttf");
}

@font-face {
       font-family: "Jura-Bold";
       src: url("../fonts/Jura-Bold.ttf");
}