/*Импорт стилей блоков, входящих в состав "header"*/
@import url("./nav/header__nav.css");
@import url("./menu/header__menu.css");
@import url("./search/header__search.css");

/*Общие стили для навигации, расположенной в шапке сайта)*/
.navigation__header {
       position: absolute;
       left: 0;
       top: 0;
       z-index: 5;
}

.header {
       width: 100%;/*1440px*/
       height: auto;
}

/*Медиа-запросы*/
/*Планшеты*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
       .header {
              padding: 4.82% 0;/*t/b 37px l/r 0*/
       }
}

/*Десктоп*/
@media screen and (min-width: 1280px) {
       .header {
              padding: 2.08% 0;/*t/b 30px l/r 0*/
       }
}