/*Общие стили для блока*/
.wrapper__myFriendsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.16%;/*25px*/
}

.myFriendsContainer {
  display: none;
}