/*Общие стили для блока*/
.aside__navbar {
  margin-bottom: 9.12%;/*25px*/
}

.navbar {
  width: 100%;/*274px*/
  height: auto;
  max-height: 100%;
  padding: 9.12%;/*25px*/
  background-color: #FDFDFD;
  border-radius: 8px;
  box-shadow: 0 0.3125em 0.625em #999999;
}

/*Стили для списка и его элементов*/
.list {
  width: 100%;/*224px*/
  height: auto;
  max-height: 100%;
  list-style: none;
}

.list__item {
  margin-bottom: 7%;/*16px*/
}

.item {
  width: 100%;/*224px*/
  height: auto;
  padding: 3% 0;
  border-bottom: 1px solid #E9E9E9;
}

.item:hover {
  transform: scale(1.03);
  border-bottom-color: #E50914;
}

.item:hover > .link {
  color: #E50914;
  text-shadow: 0 0 0.625em #E50914;
}

.link {
  font-family: "Roboto-R", serif;
  font-size: 0.875em;/*14px*/
  color: #999999;
  text-decoration: none;
  text-shadow: 0 0 0.625em #999999;
}

/*Стили для активной ссылки*/
.active {
  color: #088BC1;
  text-shadow: 0 0 0.625em #088BC1;
}