/*Общие стили для блока с меню (изначально скрыто)*/
.header__menu-main {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  transition: all 0.7s ease-out;
}

.menu-main {
  width: 100%;/*1440px*/
  height: 100vh;/*840px*/
  background: url(../img/menu_bcg.jpg) no-repeat center center/cover;
}

/*Общие стили для блока-обёртки*/
.menu-main__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  width: 100%;/*1440px*/
  height: 100%;/*840px*/
  background-color: rgba(236, 229, 225, 0.7);
}

/*Стили для кнопки, которая закрывает меню*/
.inner__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 1.375rem; /*22px*/
  height: 1.4375rem; /*23px*/
}

.btn__stripe {
  position: absolute;
  left: -18.5%;
}

.stripe {
  width: 140%;
  height: 0.125rem;/*2px*/
  background-color: #342B2B;
}

/*Поворот линий кнопки*/
.stripe--rtt__lft {
  transform: rotate(135deg);
}

.stripe--rtt__rgt {
  transform: rotate(-135deg);
  top: 40%;
}

/*Элементы каталога*/
/*Заголовок*/
.catalog {
  height: auto;
  font-family: "Cormorant-SB", serif;
  color: #342B2B;
}

/*Список меню*/
/*Стили для блока-обёртки*/
.inner__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.box {
  width: 100%;/*1088px*/
  height: auto;
  max-height: 100%;
}

/*Стили для блоков с элементами списка*/
.list {
  width: auto;
  height: auto;
  list-style: none;
}

.item {
  width: auto;
  height: auto;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  white-space: nowrap;
}

.link--ff__cr {
  font-family: "Cormorant-R", serif;
}

.link--color__grey {
  color: #342B2B;
}

/*Стили для блока с поиском*/
.item__search-form::before {
  content: url(../img/head-img1.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-form {
  width: auto;
  height: auto;
  font-family: "Cormorant-R", serif;
  color: #342B2B;
}

/*Стили для поисковой строки*/
.request {
  width: 100%;
  height: auto;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #342B2B;
  background-color: transparent;
}

/*Медиа-запросы*/
/*Планшеты*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /*Общие стили для блока с меню (изначально скрыто)*/
  .desktop {
      display: none;
  }

  /*Общие стили для блока-обёртки*/
  .inner {
    padding-left: 13.93%;/*107px*/
    padding-right: 7.42%;/*57px*/
  }

  /*Стили для кнопки, которая закрывает меню*/
  .inner__btn {
    right: 5.21%;/*40px*/
    top: 4.82%;/*37px*/
  }

  /*Элементы каталога*/
  /*Заголовок*/
  .inner__catalog {
    margin-bottom: 3.9%;/*30px*/
  }

  .catalog {
    font-size: 1.5rem;/*24px*/
  }

  /*Стили для блоков с элементами списка*/
  .list__item {
    position: relative;
    margin-bottom: 1.375rem;/*22px*/
  }

  .link--size__xl {
    font-size: 1.125rem;/*18px*/
  }

  /*Стили для блока с поиском*/
  .item__search-form {
    position: absolute;
    left: 13.93%;
    bottom: 4.86%;/*40px*/
  }

  /*Стили для поисковой строки*/
  .request {
    font-size: 1.125rem;/*18px*/
  }

  .request--size__m {
    padding: 1% 17.66%;/*t/b 6px l/r 50px*/
  }

  .request::-webkit-input-placeholder {
    font-size: 1.125rem;/*18px*/
    color: #342B2B;
  }

  .request::-moz-placeholder {
    font-size: 1.125rem;/*18px*/
    color: #342B2B;
  }

  .request:-ms-input-placeholder {
    font-size: 1.125rem;/*18px*/
    color: #342B2B;
  }

  .request::-ms-input-placeholder {
    font-size: 1.125rem;/*18px*/
    color: #342B2B;
  }

  .request::placeholder {
    font-size: 1.125rem;/*18px*/
    color: #342B2B;
  }
}

/*Десктоп*/
/*Общие стили*/
@media screen and (min-width: 1280px) {
  /*Общие стили для блока с меню (изначально скрыто)*/
  .tablet {
      display: none;
  }

  /*Общие стили для блока-обёртки*/
  .inner {
    padding: 0 12.22%;/*176px*/
  }

  /*Стили для кнопки, которая закрывает меню*/
  .inner__btn {
    right: 6.25%;/*90px*/
    top: 5.95%;/*50px*/
  }

  /*Элементы каталога*/
  /*Заголовок*/
  .inner__catalog {
    margin-bottom: 1.53%;/*22px*/
  }

  .catalog {
    font-size: 1.75rem;/*28px*/
  }

  /*Стили для блоков с элементами списка*/
  .list--size__m {
    width: 26%;/*283px*/
  }

  .list__item {
    position: relative;
    margin-bottom: 1rem;/*16px*/
  }

  .link--size__xl {
    font-size: 1.25rem;/*20px*/
  }

  /*Стили для поисковой строки*/
  .request {
    font-size: 1.25rem;/*20px*/
  }

  .request::-webkit-input-placeholder {
    font-size: 1.25rem;/*20px*/
    color: #342B2B;
  }

  .request::-moz-placeholder {
    font-size: 1.25rem;/*20px*/
    color: #342B2B;
  }

  .request:-ms-input-placeholder {
    font-size: 1.25rem;/*20px*/
    color: #342B2B;
  }

  .request::-ms-input-placeholder {
    font-size: 1.25rem;/*20px*/
    color: #342B2B;
  }

  .request::placeholder {
    font-size: 1.25rem;/*20px*/
    color: #342B2B;
  }
}

/*Стили для отдельных размеров экрана*/
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  /*Элементы каталога*/
  /*Заголовок*/
  .catalog {
    font-size: 2rem;/*32px*/
  }

  /*Стили для блоков с элементами списка*/
  .link--size__xl {
    font-size: 1.5rem;/*24px*/
  }

  /*Стили для поисковой строки*/
  .request {
    font-size: 1.5rem;/*24px*/
  }

  .request::-webkit-input-placeholder {
    font-size: 1.5rem;/*24px*/
    color: #342B2B;
  }

  .request::-moz-placeholder {
    font-size: 1.5rem;/*24px*/
    color: #342B2B;
  }

  .request:-ms-input-placeholder {
    font-size: 1.5rem;/*24px*/
    color: #342B2B;
  }

  .request::-ms-input-placeholder {
    font-size: 1.5rem;/*24px*/
    color: #342B2B;
  }

  .request::placeholder {
    font-size: 1.5rem;/*24px*/
    color: #342B2B;
  }
}

@media screen and (min-width: 1920px) {
  /*Элементы каталога*/
  /*Заголовок*/
  .catalog {
    font-size: 2.25rem;/*36px*/
  }

  /*Стили для блоков с элементами списка*/
  .link--size__xl {
    font-size: 1.75rem;/*28px*/
  }

  /*Стили для поисковой строки*/
  .request {
    font-size: 1.75rem;/*28px*/
  }

  .request::-webkit-input-placeholder {
    font-size: 1.75rem;/*28px*/
    color: #342B2B;
  }

  .request::-moz-placeholder {
    font-size: 1.75rem;/*28px*/
    color: #342B2B;
  }

  .request:-ms-input-placeholder {
    font-size: 1.75rem;/*28px*/
    color: #342B2B;
  }

  .request::-ms-input-placeholder {
    font-size: 1.75rem;/*28px*/
    color: #342B2B;
  }

  .request::placeholder {
    font-size: 1.75rem;/*28px*/
    color: #342B2B;
  }
}