/*Общие стили для блока поиска*/
.header__search-block {
  position: absolute;
  top: 100%;
  right: -50%;
  z-index: 2;
  transition: all 0.5s ease-out;
}

.search-block {
  width: 50%;/*720px*/
  height: auto;
  max-height: 100vh;/*840px*/
  background-color: #f9f9f9;
  font-family: "Cormorant-R", serif;
  color: #342B2B;
}

/*Стили для кнопки, закрывающей блок с поиском*/
.search-block__close-search {
  position: absolute;
  right: 2%;
  top: -2%;
}

.close-search {
  font-size: 3rem;
}

/*Стили для блока с поиском*/
.search-block__search-form {
  position: relative;
}

/*Стили для поисковой строки*/
.request--size__s {
  padding: 0 2%;
}

/*Кнопка очистки поля ввода*/
.search-form__clear {
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 2;
}

.clear {
  font-size: 0.75rem;/*12px*/
  color: #fff;
  padding: 0 1%;
  background-color: #342B2B;
}

/*Общие стили для блока с выводимым товаром*/
.result {
  width: 100%;
  height: auto;
  max-height: 100vh;
  padding-top: 5%;
}

/*Стили для списка с товаром*/
.result__list-output {
  margin: 5% auto;
}

.list-output {
  width: 100%;
  height: auto;
}

/*Стили для элементов списка*/
.list-output__item {
  display: flex;
  justify-content: space-between;
}

.link--color__red {
  color: #91171D;
}

.price--size__m::after {
  content: " \20BD";
}

/*Стили для элементов в случае, если по запросу ничего не найдено*/
.search-block__par {
  margin-top: 13%;
}

.par--align-content {
  text-align: center;
}

/*Медиа-запросы*/
/*Планшеты*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /*Общие стили для блока поиска*/
  .search-block {
    padding: 3.9% 5.21%;/*t/b 30px l/r 40px*/
  }

  /*Стили для элементов списка*/
  .list-output__item {
    margin-bottom: 1.375rem;/*22px*/
  }

  .link--size__l {
    font-size: 1rem;/*16px*/
  }

  .price--size__xl {
    font-size: 1.125rem;/*18px*/
  }

  /*Стили для элементов в случае, если по запросу ничего не найдено*/
  .par--align-content {
    font-size: 1.125rem;/*18px*/
  }
}

/*Десктоп*/
/*Общие стили*/
@media screen and (min-width: 1280px) {
  /*Общие стили для блока поиска*/
  .search-block {
    padding: 2.08% 5.56%;/*t/b 30px l/r 80px*/
  }

  /*Стили для элементов списка*/
  .list-output__item {
    margin-bottom: 1rem;/*16px*/
  }

  .link--size__l {
    font-size: 1.125rem;/*18px*/
  }

  .price--size__xl {
    font-size: 1.25rem;/*20px*/
  }

  /*Стили для элементов в случае, если по запросу ничего не найдено*/
  .par--align-content {
    font-size: 1.25rem;/*20px*/
  }
}

/*Стили для отдельных размеров экрана*/
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  /*Стили для блока с поиском*/
  /*Кнопка очистки поля ввода*/
  .clear {
    font-size: 1rem;/*16px*/
  }

  /*Стили для элементов списка + если по запросу ничего не найдено*/
  .link--size__l {
    font-size: 1.25rem;/*20px*/
  }

  .price--size__xl,
  .par--align-content {
    font-size: 1.5rem;/*24px*/
  }
}

@media screen and (min-width: 1920px) {
  /*Стили для блока с поиском*/
  /*Кнопка очистки поля ввода*/
  .clear {
    font-size: 1.25rem;/*18px*/
  }

  /*Стили для элементов списка + если по запросу ничего не найдено*/
  .link--size__l {
    font-size: 1.5rem;/*24px*/
  }

  .price--size__xl,
  .par--align-content {
    font-size: 1.75rem;/*28px*/
  }
}