/*Общие стили для блока*/
.subscribe {
       width: 100%;/*320px*/
       height: auto;/*437px*/
}

/*Общие стили для блока с формой*/
.form {
       width: 100%;/*288px*/
       height: auto;/*389px*/
       text-align: center;
       background-color: rgba(255,255,255, 0.6);
}

/*Заголовок*/
.form__legend {
       margin: 0 auto 1.2%;/*5px*/
}

.legend {
       width: auto;
       height: auto;
       font-family: "Cormorant-SB", serif;
       font-size: 1.125rem;/*18px*/
       line-height: 1.12;
       color: #91171D;
}

/*Поле для ввода алреса e-mail*/
.email {
       height: 5.66%;/*22px*/
       border: 0;
       border-bottom: 0.0625rem solid #342B2B;
       outline: 0;
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;/*14px*/
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
       background-color: transparent;
}

.email::-webkit-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
}

.email::-moz-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
}

.email:-ms-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
}

.email::-ms-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
}

.email::placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
}

/*Стили для кнопки отправки формы*/
.form__button {
       margin-bottom: 2.43%;/*7px*/
}

.button--size__m {
       width: auto;/*156px*/
       height: auto;/*36px*/
}

/*Стили для блока с дополнительной информацией*/
.info {
       width: 100%;
       height: auto;
       font-family: "OS-R", sans-serif;
       font-size: 0.625rem;
       line-height: 1.12;
       color: #342B2B;
}

/*Стили для отзывчивости*/
/*При вертикальном расположении устройства*/
@media screen and (orientation: portrait) {
       /*Общие стили для блока*/
       .content__subscribe {
              margin-top: 18.75%;/*60px*/
       }

       .subscribe {
              padding: 5.5% 4.8%;/*24px 16px*/
              background: url(img/subscr-bc.jpg) center center/cover no-repeat;
       }

       /*Общие стили для блока с формой*/
       .form {
              padding: 18.05% 8.68%;/*70px 25px*/
       }

       /*Заголовок*/
       .legend {
              max-width: 75%;/*216px*/
       }

       /*Поле для ввода алреса e-mail*/
       .form__email {
              margin-bottom: 17.65%;/*42px*/
       }

       .email {
              width: 75%;/*216px*/
       }

       /*Стили для кнопки отправки формы*/
       .form__button {
              margin-bottom: 2.43%;/*7px*/
       }

       .button--size__m  {
              padding: 4.2% 11.35%;/*10px 27px*/
       }
}

/*При горизонтальном расположении устройства*/
@media screen and (orientation: landscape) {
       /*Общие стили для блока*/
       .content__subscribe {
              margin-top: 7.82%;/*60px*/
       }

       .subscribe {
              padding: 3.13% 6.51%;/*24px 50px*/
              background: url(img/subscr-bc__lscp.jpg) left top/cover no-repeat;
       }

       /*Общие стили для блока с формой*/
       .form {
              padding: 10.48% 3.74%;/*70px 25px*/
       }

       /*Поле для ввода алреса e-mail*/
       .form__email {
              margin-bottom: 6.58%;/*42px*/
       }

       .email {
              width: 33.86%;/*216px*/
       }

       /*Стили для кнопки отправки формы*/
       .button--size__m  {
              padding: 1.57% 4.23%;/*10px 27px*/
       }
}

/*При ширине экрана от 768 px*/
@media screen and (min-width: 768px) {
       /*Общие стили для блока с формой*/
       /*Заголовок*/
       .legend {
              font-size: 1.25rem;/*20px*/
       }
}