/*Общие стили для блока*/
.aside {
  align-self: flex-start;
  width: 20%;/*274px*/
  height: auto;
}

.aside--bcg__transparent {
  background-color: transparent;
}

/*Стили для дочерних элементов компонента ProfileOwner*/
.profileOwner__ownerInfo {
  position: relative;
  z-index: 1;
}

.ownerInfo {
  width: auto;
  height: auto;
  font-family: "Roboto-R", serif;
  line-height: 1.3;
}

/*Имя пользователя*/
.ownerInfo__ownerName {
  margin-bottom: 5.84%;/*16px*/
}

.ownerName {
  font-size: 0.875rem;/*14px*/
  color: #fff;
}

/*Общее количество подписчиков*/
.totatFollowers {
  font-size: 0.75rem;/*12px*/
  color: #fff;
}