/*Общие стили для блока "popular"*/
.content__popular {
  position: relative ;
  margin-bottom: 7.8vh;
}

.popular {
  width: 80.43%;/*1287px*/
  height: 54.5vh;/*558px*/
  overflow-x: hidden;
}

/*Стили для блока-обёртки с товаром "wrap"*/
.popular__wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.7s ease-in-out;
  transition: left 0.7s ease-in-out;
}

.wrap {
  height: 78.32%;/*437px*/
  border: 2px solid red;
}

/*Общие стили для блока с карточками товара "product",
для блока с описанием и ценой товара "name"*/
.popular__product,
.product__name {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/*Стили для блока с карточками товара "product"*/
.product {
  width: 21.37%;/*275px*/
  height: 100%;/*437px*/
}

/*Стили для блока-обёртки с картинкой "inner-img"*/
.product__inner-img {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.inner-img {
  width: 100%;/*275px*/
  height: 69.8%;/*305px*/
  background-color: #EEEDED;
  cursor: auto;
}

.picture {
  width: auto;
  height: auto;
}

/*Стили для блока с описанием и ценой товара*/
.name {
  width: 100%;/*250px*/
  min-height: 16.25%;/*71px*/
  white-space: nowrap;
}

.par--color__dark {
  padding-right: 2%;
  color: #000000;
}

.price {
  font-family: "rbt-reg", sans-serif;
  font-size: 1.5em;
  line-height: 1.2;/*30px*/
  color: #999999;
}

/*Общие стили для мобильных телефонов с маленькими и средними экранами*/
@media screen and (max-width: 767px) {
  /*Общие стили для блока "popular"*/
  .popular {
    width: 90%;
  }

  /*Стили для блока-обёртки с картинкой "inner-img"*/
  .picture {
    max-width: 90%;
  }

/*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 0.75em;/*12px*/
  }
}

/*Стили для мобильных телефонов с маленькими экранами*/
@media screen and (max-width: 489px) {
/*Общие стили для блока "popular"*/
  .popular {
    height: 37vh;
  }

/*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 0.75em;/*12px*/
  }
}

/*Стили для мобильных телефонов со средними экранами*/
@media screen and (min-width: 490px) and (max-width: 767px) {
  /*Общие стили для блока "popular"*/
  .popular {
    height: 90vh;
  }
}

/*Стили для мобильных телефонов с большими экранами*/
@media screen and (min-width: 768px) and (max-height: 450px) {
  /*Общие стили для блока "popular"*/
  .popular {
    width: 90%;
    height: 90vh;
  }

  /*Стили для блока-обёртки с картинкой "inner-img"*/
  .picture {
    max-width: 90%;
  }

  /*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 1.125em;/*18px*/
  }
}

/*Стили для планшетов*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /*Общие стили для блока "popular"*/
  .popular {
    width: 90%;
    height: 40vh;
  }

  /*Стили для блока-обёртки с картинкой "inner-img"*/
  .picture {
    max-width: 90%;
  }

  /*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 1.25em;/*20px*/
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 451px) and (orientation: landscape) {
  /*Общие стили для блока "popular"*/
  .popular {
    width: 90%;
  }

  /*Стили для блока-обёртки с картинкой "inner-img"*/
  .picture {
    max-width: 90%;
  }

  /*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 1.25em;/*20px*/
  }
}

/*Общие стили для ноутбуков и ПК*/
@media screen and (min-width: 1025px) {
/*Наложение маски поверх изображения при наведении мыши*/
  .product:hover > .inner-img:before {
    content: "";
    position: absolute;
    left: 0.625em;/*10px*/
    top: 0.625em;/*10px*/
    width: calc(100% - 1.25em);/*255px*/
    height: calc(100% - 1.25em);/*295px*/
    background-color: rgba(130,244,211,0.87);
  }

  .product:hover > .inner-img:after {
    content: "Viev Details";
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 9.1875em;/*146px*/
    height: 3em;/*47px*/
    border: 1px solid #ffffff;
    font-family: "Pop-reg", serif;
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
  }
}

/*Общие стили для ПК с большими экранами*/
@media screen and (min-width: 2048px) {
/*Стили для блока-обёртки с картинкой "inner-img"*/
  .picture {
    min-width: 80%;
    max-width: 90%;
  }

  /*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 1.875em;/*30px*/
  }
}

@media screen and (min-width: 2560px) {
  /*Стили для блока с описанием и ценой товара*/
  .price {
    font-size: 2.625em;/*42px*/
  }
}