/*Общие стили для блока*/
.content__subscribe {
       margin: 0 auto;
}

.subscribe {
       width: 77.08%;/*1110px*/
       height: auto;/*500px*/
       padding: 3.61% 8.125%;/*t/b 52px l/r 117px*/
       background: url(img/subscr-bc.jpg) center center/cover no-repeat;
       border: 2px solid red;
}

/*Общие стили для блока с формой*/
.form {
       width: 100%;/*1110px*/
       height: auto;/*500px*/
       padding: 5.23% 10.36%;/*58px 115px*/
       text-align: center;
       background-color: rgba(236,229,225, 0.8);
}

/*Заголовок*/
.head--size__m {
       font-size: 2rem;/*32px*/
}

/*Поле для ввода алреса e-mail*/
.form__email {
       margin: 2.7% 0;/*t/b 30px*/
}

.email {
       width: 41.95%;/*271px / 646px*/
       height: auto;
       border: 0;
       border-bottom: 0.0625rem solid #342B2B;
       outline: 0;
       font-family: "Cormorant-l", serif;
       font-size: 1rem;/*16px*/
       color: #342B2B;
       background-color: transparent;
}

.email::-webkit-input-placeholder {
       font-size: 1rem;/*16px*/
       text-align: center;
}

.email::-moz-placeholder {
       font-size: 1rem;/*16px*/
       text-align: center;
}

.email:-ms-input-placeholder {
       font-size: 1rem;/*16px*/
       text-align: center;
}

.email::-ms-input-placeholder {
       font-size: 1rem;/*16px*/
       text-align: center;
}

.email::placeholder {
       font-size: 1rem;/*16px*/
       text-align: center;
}

/*Стили для кнопки отправки формы*/
.button--size__m {
       width: auto;/*167px*/
       height: auto;/*36px*/
       padding: 1% 2.79%;/*10px 31px*/
}

.submit--size__s {
       font-size: 1.125rem;/*18px*/
}

/*Стили для блока с дополнительной информацией*/
.form__info {
       margin: 1% auto 0;/*t 10px*/
}
.info {
       width: 44.27%;/*286px*/
       height: auto;
       font-family: "OS-R", sans-serif;
       font-size: 0.75rem;
       color: #342B2B;
}