.footer__info {
       width: 50%;
       height: 100%;
       background-color: #ECE5E1;
}
.footer__info-wrap {
       position: relative;
       width: 75%;
       height: 100%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       margin: auto;
}
.footer__info-list {
       height: 90%;
       list-style: none;
       margin: auto;
}
.footer__info-list--right {
       width: 50%;
}
.footer__info-ctc {
       font-family: "Cormorant-SB", serif;
       font-size: 0.875rem;
       color: #342B2B;
       text-decoration: none;
}
.footer__list-soc,
.footer__list-pay {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       list-style: none;
}
.footer__email {
       width: 71.5%;
       border: none;
       border-bottom: 1px solid #342B2B;
       background-color: transparent;
}
::-webkit-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1rem;
       color: #342B2B;
}
:-ms-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1rem;
       color: #342B2B;
}
::-ms-input-placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1rem;
       color: #342B2B;
}
::placeholder {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1rem;
       color: #342B2B;
}
.footer__pay-icon {
       height: 70%;
}
.footer__pay-info {
       width: 100%;
       font-family: "Cormorant-SB", serif;
       font-size: 0.875rem;
       text-align: justify;
}
.footer__link-pay {
       color: #342B2B;
}
.footer__cprt {
       position: absolute;
       bottom: 7%;
       right: 0;
       font-family: "Cormorant-R", serif;
       font-size: 0.875rem;
       color: #342B2B;
}

@media screen and (max-width: 450px) {
       .footer__info {
              width: 100%;
              height: 100%;
              background-color: #ECE5E1;
       }
       .footer__info-wrap {
              width: 100%;
       }
       .footer__list-item {
              padding-bottom: 0.625rem;
              font-size: 1rem;
       }
       .footer__list-soc {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              width: 50%;
       }
       .footer__soc {
              padding-bottom: 1.15rem;
       }
       .footer__info-ctc {
              font-size: 1rem;
       }
       .footer__cprt {
              right: 5%;
              font-size: 0.875rem;
       }
}

@media screen and (min-width: 501px) and (max-width: 1023px) {
       .footer__info {
              width: 100%;
       }
       .footer__info-wrap {
              width: 100%;
       }
       .footer__info-list {
              position: absolute;
              top: 10%;
              left: 2.5%;
              height: 50%;
       }
       .footer__info-list--right {
              right: 12.5%;
              width: 36%;
       }
       .footer__info-ctc {
              font-size: 1rem;
       }
       .footer__list-pay {
              width: 65%;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
       }
}

/*@media screen and (min-width: 1024px) {
      
}*/