/*Общие стили для блока "About"*/
.content__about {
       position: relative;
}

.about {
       width: auto;/*1440px*/
       height: auto;/*1283px*/
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.about__head {
       margin-bottom: 6.94%;/*100px*/
}

/*Общие стили для блока-обёртки с историей коллекции*/
.about__history {
       /* position: relative; */
       /* display: flex; */
       margin: 0 auto;
}

.history {
       width: 77.08%;/*1110px*/
       height: auto;
       border: 2px solid blue;
}

/*Стили для слайдов*/
.history__slide {
       position: relative;
}

.history__slide--position__right {
       margin-top: -24.5%;/*272px*/
       text-align: right;
}

/*Изображения*/
.image {
       width: auto;
       height: auto;
}

/*Описание*/
.slide__block {
       position: absolute;
       z-index: 1;
}

.slide__block--position__right {
       right: 0;
       top: 9.82%;/*70px*/
}

.slide__block--position__left {
       left: 0;
       bottom: 10.43%;/*70px*/
       text-align: left;
}

.block {
       width: 59%;/*655px*/
       height: auto;
       max-height: 50%;
       padding: 2.7% 3.6%;/*t/b 30px l/r 40px*/
       background-color: rgba(236,229,225, 0.8);
}

.block__par {
       margin-bottom: 4.58%;/*30px*/
}

.par {
       width: 100%;
       height: auto;
       font-family: "Cormorant-l", serif;
       color: #342B2B;
}

.par--size__m {
       font-size: 1.25rem;/*20px*/
}