/*Общие стили для блока*/
.content__blog {
       margin: 15.4% auto 0;/*60px*/
       overflow: hidden;
}

.blog {
       width: 83.13%;/*266px*/
       height: auto;/*min-height = 735px*/
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.blog__head {
       margin-bottom: 4.17%;/*12px*/
}

/*Слайдер*/
.blog__slider {
       position: relative;
       left: 0;
       top: 0;
       display: -webkit-box;
              display: flex;
}

.slider {
       width: auto;/*ширина установлена ч/з JS*/
       height: auto;
       max-height: 80%;/*588px*/
       border: 1px solid blue;
}

/*Стили для элементов слайдера*/
.element {
       /*ширина установлена ч/з JS*/
       /*width: 100%;/*266px*/
       width: auto;
       height: auto;/*588px*/
       max-height: 100%;
       border: 2px solid yellow;
}

/*Хэштэг*/
.hashtag {
       font-size: 0.875rem;/*14px*/
       color: #342B2B;
}

/*Стили для изображений*/
.element__pic {
       margin-top: 4.1%;/*10px*/
}

.pic {
       /*ширина установлена ч/з JS*/
       width: auto;
       /*max-width: 266px;*/
       height: auto;
}

/*Стили для блока с описанием*/
.descript {
       width: 100%;
       height: auto;
       text-align: center;
}

.descript__subheading {
       margin-bottom: 4.1%;/*10px*/
}

.subheading {
       width: 100%;
       height: auto;
       font-family: "Cormorant-M", serif;
       font-size: 1.125rem;
       line-height: 1.12;
       color: #342B2B;
       white-space: nowrap;
}

/*Стили для блока с переключателем слайдера*/
.blog__toggle {
       /*position: relative;*/
       margin: 7.52% auto 13.53%;/*t20px l/r auto b36px*/

}

.toggle {
       width: 77.82%;/*207px*/
       height: auto;
       border: 1px solid yellow;
}

/*Номер слайда*/
.toggle__index {
       position: relative;
       top: 0.3125rem;/*5px*/
}

.index {
       width: 24.15%;/*50px*/
       height: auto;
       font-family: "Cormorant-R", serif;
       line-height: 1.12;
       text-align: center;
       color: #342B2B;
       border: 1px solid blue;
}

.cur {
       font-size: 1.5rem;
}

.total {
       vertical-align: sub;
       font-size: 0.875rem;
}

/*Бегунок, полоса прокрутки*/
/*Общие стили*/
.range {
       -webkit-appearance: none;
          -moz-appearance: none;
               appearance: none;
       width: 100%;/*207px*/
       height: auto;
       border: 0;
       outline: 0;
       background: transparent;
}

/*Стили для Chrome, Opera, Safari*/
.range::-webkit-slider-thumb {
       -webkit-appearance: none;
       width: 24.15%;/*50px*/
       height: 0.1875rem;/*3px*/
       background-color: #342B2B;
}

.range::-webkit-slider-runnable-track {
       width: 100%;/*207px*/
       height: 0.0625rem;/*1rem*/
       background-color: #342B2B;
}

/*Стили для Firefox*/
.range::-moz-range-thumb {
       -moz-appearance: none;
       width: 24.15%;/*50px*/
       height: 0.1875rem;/*3px*/
       background-color: #342B2B;
}

.range::-moz-range-track {
       width: 100%;/*207px*/
       height: 0.0625rem;/*1rem*/
       background-color: #342B2B;
}

/*Стили для IE, Edge*/
.range::-ms-thumb {
       width: 24.15%;/*50px*/
       height: 0.1875rem;/*3px*/
       background-color: #342B2B;
}

.range::-ms-track {
       width: 100%;/*207px*/
       height: 0.0625rem;/*1rem*/
       background-color: #342B2B;
}

.range::-ms-fill-lower {
       background-color: #342B2B;
}

.range::-ms-fill-upper {
       background-color: #342B2B;
}

.range::-ms-tooltip {
       display: none;
}

/*Стили блока блока со ссылкой*/
.blog__contain {
       position: relative;
       left: 50%;
       -webkit-transform: translateX(-50%);
               transform: translateX(-50%);
       border: 1px solid yellow;
}