.collection__content {
       position: relative;
       top: 0;
       width: 44%;
       height: 80vh;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
}
.collection__descript {
       position: relative;
       top: 50%;
       z-index: 1;
       -webkit-transform: translate(0, -50%);
       transform: translate(0, -50%);
       width: 73%;
       height: 30%;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
       justify-content: space-evenly;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
}
.collection__title {
      font-family: "Cormorant-M", serif;
      font-size: 3rem;
      color: #342B2B;
      width: 73%;
}
.collection__link-wrap {
      width: 73%;
}
.collection__link {
       font-family: "Cormorant-R", serif;
       font-size: 1.125rem;
       color: #91171D;
       text-decoration: none;
}
.collection__line {
       display: block;
       position: relative;
       top: 3px;
       height: 1px;
       width: 40%;
       background-color: #91171D;
}
.collection__soc-nwk {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       width: 47%;
       font-family: "OS-R", sans-serif;
       font-size: 1rem;
}
.soc-nwk__link {
       text-decoration: none;
       color: #342B2B;
}
.soc-nwk__line {
       height: 1px;
       width: 8%;
       background-color: #342B2B;
}
/*Стили для экранов размерами до 500px включительно*/
@media screen and (max-width: 450px) {
       .collection__content {
              position: absolute;
              width: 100%;
       }
       .collection__descript {
              -ms-flex-item-align: start;
              align-self: flex-start;
              left: 5%;
              width: 33%;
       }
       .collection__title {
              font-size: 1.5rem;
              width: 100%;
       }
       .collection__link-wrap {
              width: auto;/*82%;*/
              -ms-flex-item-align: start;
              align-self: flex-start;
       }
        .collection__link {
              font-size: 0.875rem;
       }
       .collection__line {
              width: 85%;
       }
}
@media screen and (max-width: 350px) {
       .collection__descript {
              width: 42%;
       }
}
@media screen and (min-width: 351px) and (max-width: 375px) {
       .collection__descript {
              width: 40%;
       }
}
@media screen and (min-width: 376px) and (max-width: 400px) {
       .collection__descript {
              width: 35%;
       }
}
/*Стили для экранов размерами от 501px до 1023px включительно*/
@media screen and (min-width: 501px) and (max-width: 1023px) {
       .collection__content {
              -webkit-box-align: baseline;
              -ms-flex-align: baseline;
              align-items: baseline;
              top: 0;
              width: 54%;
              height: 78vh;
       }
       .collection__descript {
              left: 12%;
       }
       .collection__title {
              -ms-flex-item-align: baseline;
              align-self: baseline;
              font-size: 2.25rem;
              width: 73%;
       }
       .collection__link-wrap {
              width: auto;
              -ms-flex-item-align: baseline;
              align-self: baseline;
       }
       .collection__link {
              font-size: 1rem;
       }
       .collection__line {
              width: 100%;
       }
       .collection__soc-nwk {
              position: absolute;
              left: 12%;
              bottom: -5.5vh;
              -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
              width: 60%;
              font-size: 0.75rem;
       }
}

@media screen and (min-width: 1024px) {
       .collection__link,
       .soc-nwk__link  {
              cursor: pointer;
       }
}