/*Общие стили для блока "New"*/
.content__new {
       position: relative;
       margin: 10.42% auto;/*t/b 150px*/
}

.new {
       width: auto;
       height: auto;/*min-height = 847px*/
       text-align: center;
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.head--color__red {
       text-align: center;
       color: #91171D;
       border: 1px solid blue;
}

/*Стили для блока-обёртки*/
.new__holder {
       margin: 2.08% auto;/*t/b 30px 0*/
}

.holder {
       width: 77.08%;/*1110px*/
       height: auto;
       text-align: center;
       border: 1px solid green;
}

/*Стили для названий вкладок*/
.input {
       display: none;
}

/*Добавляется подчёркивание у названия текущей вкладки*/
.input:checked + .headline {
       border-bottom: 0.0625rem solid #342B2B;
}

/*Показывает контент выбранной вкладки*/
.input[id="dress"]:checked ~ .dress,
.input[id="blouse"]:checked ~ .blouse,
.input[id="skirts"]:checked ~ .skirts {
       display: flex;
       justify-content: space-between;
}

.headline {
       font-family: "Cormorant-SB", serif;
       font-size: 1.125rem;/*18px*/
       color: #342B2B;
}

.headline:not(:last-of-type) {
       margin-right: 4.5%;/*50px*/
}

/*Стили для самих вкладок*/
.holder__tabs {
       display: none;/*Скрытие вкладок*/ 
       margin-top: 4.32%;/*48px*/
}

.tabs {
       width: 100%;
       height: auto;
}

/*Стили для слайдеров внутри вкладок*/
.tabs__carousel {
       position: relative;
       display: flex;
       justify-content: space-between;
}

.tabs__carousel:not(:last-of-type) {
       margin-right: 2.7%;/*30px*/
}

.carousel {
       width: calc((100% - 5.4%) / 3);/*(обёртка - отступы) / число слайдов*/
       height: auto;
}

/*Стили для слайдеров внутри слайдеров*/
.carousel__slide {
       position: relative;
       display: none;
}

.slide {
       width: 100%;/*350px*/
       height: auto;
       border: 3px solid yellow;
}

.slide-active {
       -webkit-animation: current linear 0.7s;
               animation: current linear 0.7s;
       display: block;
}

/*Слайды*/
.picture {
       width: auto;
       height: auto;
       max-width: 100%;/*350px*/
}

/*Вывод общего количества лайков*/
/*Блок-обёртка для элементов*/
.slide__counter {
       position: absolute;
       right: 2.86%;/*10px*/
       top: 1.61%;/*10px*/
}

.counter {
       width: auto;
       height: auto;
       text-align: center;
       background-color: rgba(255,255,255,0.5);
}

/*Кнопка "лайк"*/
.like {
       width: 83.33%;/*20px*/
       height: auto;/*18px*/
}

/*Поле для вывода количества лайков*/
.amount {
       font-family: "Cormorant-M", serif;
       font-size: 1.25rem;/*20px*/
       color: #342B2B;
}

/*Стили для блока с названием и ценой товара*/
.caption--size__l {
       width: 100%;/*350px*/
       padding: 4.57% 0;/*t/b 16px*/
       font-family: "Cormorant-M", serif;
       color: #342B2B;
}

/*Название товара*/
.heading--size__l {
       font-size: 1.5rem;/*24px*/
}

/*Цена товара*/
.price--size__l {
       padding-left: 2%;
       font-size: 1.25rem;/*20px*/
}

/*Стили для блока с управлением слайдерами*/
.carousel__switch {
       display: inline;
       position: absolute;
       left: 2.86%;/*10px*/
       bottom: 16%;/*10px*/
}

.switch {
       font-family: "Cormorant-M", serif;
       font-size: 1.25rem;/*20px*/
       color: #342B2B;
       background-color: rgba(255,255,255,0.5);
}