/*Общие стили для блока "About"*/
.about {
       height: auto;/*min-height = 530px*/
}

/*Стили для элементов блока*/
/*Общие стили для блока-обёртки с историей коллекции*/
.about__history {
       position: relative;
}

.history {
       width: 100%;/*288px*/
       height: auto;
}

/*Общие стили для блока-обёртки, который содержит историю бренда*/
.history__block {
       position: absolute;
       left: 0;
       z-index: 1;
}

.block {
       width: 100%;/*288px*/
       text-align: center;
       background-color: rgba(255,255,255, 0.6);
}

.par {
       width: 100%;
       height: auto;
       font-family: "Cormorant-l", serif;
       font-size: 1rem;
       line-height: 1.12;
       color: #342B2B;
}

/*Стили для отзывчивости*/
/*При вертикальном расположении устройства*/
@media screen and (orientation: portrait) {
       /*Общие стили для блока "About"*/
       .content__about {
              margin: 18.75% auto 0;/*60px*/
       }

       .about {
              width: 90.4%;/*288px*/
       }

       /*Стили для элементов блока*/
       /*Заголовок*/
       .about__head {
              margin-bottom: 13.9%;/*40px*/
       }

       /*Общие стили для блока-обёртки, который содержит историю бренда*/
       .history__block {
              top: 0;
              display: -webkit-box;
                     display: flex;
              -webkit-box-orient: vertical;
                     -webkit-box-direction: normal;
                            flex-direction: column;
              -webkit-box-pack: center;
                      justify-content: center;
       }

       .block {
              height: 100%;
              padding: 0 5.6%;/*28px 16px*/
       }

       .block__par {
              margin-bottom: 9.38%;/*27px*/
       }

       /*Стили для фоновых изображений*/
       .image--position__left {
              width: 100%;
              height: auto;
              max-height: 100%;
       }

       .image--position__right {
              display: none;
       }
}

/*При горизонтальном расположении устройства*/
@media screen and (orientation: landscape) {
       /*Общие стили для блока "About"*/
       .content__about {
              margin: 7.82% auto 0;/*60px*/
       }

       .about {
              width: 86.98%;/*668px*/
       }

       /*Стили для элементов блока*/
       /*Заголовок*/
       .about__head {
              margin-bottom: 6%;/*40px*/
       }

       /*Стили для фоновых изображений*/
       .history__image {
              position: absolute;
              right: 0;
              bottom: 0;
       }

       .image {
              width: auto;
              max-width: 48.5%;
              height: auto;
       }

       .image--position__left {
              margin-bottom: 20%;
       }

       /*Общие стили для блока-обёртки, который содержит историю бренда*/
       .history__block {
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
       }

       .block {
              padding: 4.79% 3.6%;/*32px 27px*/
       }

       .block__par {
              margin-bottom: 3.6%;/*27px*/
       }
}