/*Общие стили для блока "About"*/
.content__about {
       margin: 15.4% auto 0 auto;/*60px*/
}

.about {
       width: 90.4%;/*288px*/
       height: auto;/*min-height = 530px*/
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.about__head {
       margin-bottom: 13.8%;/*40px*/
}

.head--color__red {
       text-align: center;
       color: #91171D;
}

/*Блок с историей коллекции*/
.about__history {
       position: relative;
}

.history {
       width: 100%;
       height: auto;
       padding: 6.6% 5.6%;/*28px 16px*/
       background-color: rgba(255,255,255, 0.6);
       text-align: center;
       border: 1px solid blue;
}

.history:before {
       content: "";
       background: url(img/about-img1.jpg) center center/cover no-repeat;
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
}

.history__par {
       margin-bottom: 4.5%;/*20px*/
}

.par {
       width: 100%;
       height: auto;
       font-family: "Cormorant-l", serif;
       font-size: 1rem;
       line-height: 1.125;
       color: #342B2B;
}