.footer__menu-wrap {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
       -webkit-box-align: baseline;
       -ms-flex-align: baseline;
       align-items: baseline;
       width: 50%;
       height: 100%;
       background-color: #DECEC5;
}
.footer__menu-list {
       height: 90%;
       list-style: none;
       margin: auto 0;
}
.footer__list-item {
       font-family: "Cormorant-SB", serif;
       font-size: 1.125rem;
       color: #342B2B;
}
.footer__list-item:not(:last-of-type) {
      margin-bottom: 1rem;
}
.footer__menu-link {
       font-family: "Cormorant-R", serif;
       font-size: 1.125rem;
       color: #342B2B;
       text-decoration: none;
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
       .footer__menu-wrap {
              display: none;
       }
}