/*Общие стили для навигации, расположенной в шапке сайта)*/
.navigation__header {
       position: fixed;
       top: 0;
       left: 0;
       z-index: 10;
}

.header {
       width: 100%;/*min 320px*/
       height: auto;
       background-color: rgba(255, 255, 255, 0.7);
}

/*Общие стили для блока с иконками, "бургером"*/
.header__nav {
       position: relative;
              display: flex;
       justify-content: space-between;
       align-items: center;
}

.nav {
       width: 100%;
       height: auto;
}

/*Стили для "бургера" меню*/
.nav__burg,
.nav-toggle__burg {
              display: flex;
       flex-direction: column;
}

.burg {
       width: 2rem;/*32px*/
       height: 100%;/*16px*/
}

.burg__line:not(:last-of-type) {
       margin-bottom: 0.3125rem;
}

.line {
       width: 100%;/*33px*/
       height: 0.125rem;
       background-color: white;
}

.line--short__right {
       align-self: flex-end;
       width: 54.55%;
}

.ine--short__left {
       align-self: flex-start;
       width: 54.55%;
}

/*Стили для блока с логотипом*/
.logo {
       height: auto;
       font-family: "Roboto-M", sans-serif;
       text-align: center;
       color: #342B2B;
}

.name {
       font-size: 1.25rem;/*20px*/
       line-height: 1.12;
}

.subname {
       font-size: 0.625rem;/*10px*/
       line-height: 1.12;
}

/*Стили для блока с иконками*/
.nav__wrap {
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.wrap {
       width: 32.81%;/*105px*/
       height: 100%;/*16px*/
}

.icon {
       width: auto;
       height: 100%;
}

/*Общие стили для блока с меню (изначально скрыто)*/
.header__menu-main {
       position: absolute;
       top: 0;
       left: -100%;
       z-index: 10;
       transition: all 0.7s ease-out;
}

.menu-main {
       width: 100%;/*320px*/
       height: 100vh;/*490px*/
       overflow-y: auto;
       background: url(img/menu_bcg.jpg) no-repeat center center/cover;
}

/*Общие стили для блока-обёртки*/
.menu-main__inner {
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.inner {
       width: 100%;/*288px*/
       min-height: 100%;/*490px*/
       background-color: rgba(255, 255, 255, 0.7);
}

/*Стили для блока-обёртки с кнопками*/
.inner__nav-toggle {
       position: absolute;
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.nav-toggle {
       width: 90%;/*288px*/
       height: auto;
}

/*Стили для кнопки, которая закрывает меню*/
.nav-toggle__btn {
       position: relative;
              display: flex;
       justify-content: center;
       align-items: center;
}

.btn {
       width: 1.375rem; /*22px*/
       height: 1.4375rem; /*23px*/
}

.btn__stripe {
       position: absolute;
       left: -18.5%;
}

.stripe {
       width: 140%;
       height: 0.125rem;/*2px*/
       background-color: #342B2B;
}

/*Поворот линий кнопки*/
.stripe--rtt__lft {
       transform: rotate(135deg);
}

.stripe--rtt__rgt {
       transform: rotate(-135deg);
       top: 40%;
}

/*Элементы каталога*/
/*Заголовок*/
.catalog {
       height: auto;
       font-family: "Cormorant-SB", serif;
       font-size: 1.25rem;/*20px*/
       color: #342B2B;
       line-height: 1.12;
}

/*Список меню*/
/*Стили для блока-обёртки*/
.inner__box {
       display: flex;
       justify-content: space-between;
       align-items: baseline;
}

.box {
       height: auto;
       max-height: 100%;
}

/*Стили для блоков с элементами списка*/
.list {
       width: auto;
       height: auto;
       list-style: none;
}

.item {
       width: 100%;
       height: auto;
}

.item:not(:last-of-type) {
       padding-bottom: 1rem;/*16px*/
}

.link {
       font-family: "Cormorant-R", serif;
       line-height: 1.12;
       text-decoration: none;
       white-space: nowrap;
}

.link--color__grey {
       font-size: 1rem;/*16px*/
       color: #342B2B;
}

/*Стили для отзывчивости*/
@media screen and (orientation: portrait) {
       /*Общие стили для блока с иконками, "бургером"*/
       .header__nav {
              margin: 2.81% 0;/*t/b 9px*/
       }

       /*Общие стили для навигации, расположенной в шапке сайта)*/
       .header {
              padding: 0 4.8%;/*l/r 16px*/
       }
       
       /*Стили для блока с логотипом*/
       .logo--hide {
              display: none;
       }

       /*Стили для блока-обёртки с кнопками*/
       .inner__nav-toggle {
              top: 6.25%;/*20px*/
       }

       /*Элементы каталога*/
       /*Заголовок*/
       .inner__catalog {
              margin-top: 16.88%;/*90px*/
              margin-bottom: 5.5%;/*16px*/
      }

       .catalog {
              width: 80%;/*256px*/
       }

       /*Список меню*/
       /*Стили для блока-обёртки*/
       .box {
              width: 80%;/*256px*/
       }
}

@media screen and (orientation: landscape) {
       /*Общие стили для блока с иконками, "бургером"*/
       .header__nav {
              margin: 1.84% 0;/*t/b 9px*/
       }

       /*Общие стили для навигации, расположенной в шапке сайта)*/
       .header {
              padding: 0 6.51%;/*l/r 50px*/
       }

       /*Стили для блока-обёртки с кнопками*/
       .inner__nav-toggle {
              top: 5.2%;/*20px*/
       }

       /*Элементы каталога*/
       /*Заголовок*/
       .inner__catalog {
              margin-top: 14.52%;/*90px*/
              margin-bottom: 2.58%;/*16px*/
       }

       .catalog {
              width: 73.88%;
       }

       /*Список меню*/
       /*Стили для блока-обёртки*/
       .inner__box {
              margin-bottom: 3.27%;/*16px*/
       }

       .box {
              width: 73.88%;/*256px*/
       }
}

@media screen and (min-width: 768px) {
       /*Элементы каталога*/
       /*Заголовок*/
       .catalog {
              font-size: 1.5rem;/*24px*/
       }

       /*Стили для блоков с элементами списка*/
       .link--color__grey {
              font-size: 1.125rem;/*18px*/;
       }
}