/*Общие стили для навигации, расположенной в шапке сайта)*/
.navigation__header {
       position: fixed;
       top: 0;
       left: 0;
       z-index: 1;
}

.header {
       width: 100%;/*min 320px*/
       height: auto;/*34px*/
       padding: 1.8% 4.8%;/*top 9px, left 16px*/
       border: 2px solid red;
}
/*Общие стили для блока с иконками, "бургером"*/
.header__nav {
       position: relative;
       display: -webkit-box;
              display: flex;
       -webkit-box-pack: justify;
              justify-content: space-between;
       -webkit-box-align: center;
              align-items: center;
}

.nav {
       width: 100%;
       height: auto;
       border: 1px solid blue;
}

/*Стили для "бургера" меню*/
.nav__burg {
       display: -webkit-box;
              display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
              flex-direction: column;
}

.burg {
       width: 2rem;/*32px*/
       height: 100%;/*16px*/
       border: 1px solid black;
}

.line {
       height: 0.125rem;
       width: 100%;/*33px*/
       margin-bottom: 0.3125rem;
       /*background-color: white;*/
       background-color: red;
}

.line--short__right {
       align-self: flex-end;
       width: 54.55%;
}

.ine--short__left {
       align-self: flex-start;
       width: 54.55%;
       margin-bottom: 0;
}

/*Стили для блока с логотипом*/
.logo {
       height: auto;
       font-family: "Roboto-M", sans-serif;
       text-align: center;
       color: #342B2B;
}

.logo--hide {
       display: none;
}

.title {
       font-size: 1.25rem;/*20px*/
       line-height: 1.1;
}

.subtitle {
       font-size: 0.625rem;/*10px*/
       line-height: 1.1;
}

/*Стили для блока с иконками*/
.nav__wrap {
       display: -webkit-box;
              display: flex;
       -webkit-box-pack: justify;
              justify-content: space-between;
       -webkit-box-align: center;
              align-items: center;
}

.wrap {
       width: 32.81%;/*105px*/
       height: 100%;/*16px*/
       border: 1px solid green;
}

.icon {
       width: auto;
       height: 100%;
}

/*@media screen and (max-width: 450px) {*/
/*Стили для блока с логотипом*/
       /*.logo--hide {
              display: none;
       }

       .menu-icon {
              width: 32.8%;
              right: 5%;
       }
}

@media screen and (min-width: 501px) and (max-width: 1023px) {
       .header {
              height: 11%;
       }
       .collection__logo {
              left: 30%;
              top: 30%;
       }
       .logo__heading {
              font-size: 1.25rem;
       }
       .logo__descript {
              font-size: 0.625rem;
       }
       .menu-icon {
              width: 30%;
              right: 6%;
       }
}

@media screen and (min-width: 1024px) {
       .menu__burg {
              cursor: pointer;
       }
       .menu-icon {
              cursor: pointer;
       }
}*/