/*Общие стили для навигации, расположенной в шапке сайта)*/
.navigation__header {
       position: fixed;
       top: 0;
       left: 0;
       z-index: 10;
}

.header {
       width: 100%;/*min 320px*/
       height: auto;
       padding: 2.82% 4.8%;/*top 9px, left 16px*/
       /*border: 2px solid red;*/
}

/*Общие стили для блока с иконками, "бургером"*/
.header__nav {
       position: relative;
       display: -webkit-box;
              display: flex;
       -webkit-box-pack: justify;
              justify-content: space-between;
       -webkit-box-align: center;
              align-items: center;
}

.nav {
       width: 100%;
       height: auto;
       /*border: 1px solid blue;*/
}

/*Стили для "бургера" меню*/
.nav__burg,
.nav-toggle__burg {
       display: -webkit-box;
              display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
              flex-direction: column;
}

.burg {
       width: 2rem;/*32px*/
       height: 100%;/*16px*/
}

.burg__line:not(:last-of-type) {
       margin-bottom: 0.3125rem;
}

.line {
       width: 100%;/*33px*/
       height: 0.125rem;
       background-color: white;
}

.line--short__right {
       align-self: flex-end;
       width: 54.55%;
}

.ine--short__left {
       align-self: flex-start;
       width: 54.55%;
}

/*Стили для блока с логотипом*/
.logo {
       height: auto;
       font-family: "Roboto-M", sans-serif;
       text-align: center;
       color: #342B2B;
}

.name {
       font-size: 1.25rem;/*20px*/
       line-height: 1.1;
}

.subname {
       font-size: 0.625rem;/*10px*/
       line-height: 1.1;
}

/*Стили для блока с иконками*/
.nav__wrap {
       display: -webkit-box;
              display: flex;
       -webkit-box-pack: justify;
              justify-content: space-between;
       -webkit-box-align: center;
              align-items: center;
}

.wrap {
       width: 32.81%;/*105px*/
       height: 100%;/*16px*/
       /*border: 1px solid green;*/
}

.icon {
       width: auto;
       height: 100%;
}

/*Общие стили для блока с меню (изначально скрыто)*/
.header__menu-main {
       position: absolute;
       top: 0;
       left: -100%;
       z-index: 10;
       -webkit-transition: all 0.7s ease-out;
       transition: all 0.7s ease-out;
}

.menu-main {
       width: 100%;/*320px*/
       height: 100vh;/*490px*/
       overflow-y: auto;
       background: url(img/menu_bcg.jpg) no-repeat center center/cover;
       border: 2px solid green;
}

/*Общие стили для блока-обёртки*/
.inner {
       width: 100%;/*320px*/
       min-height: 100%;/*490px*/
       padding: 6.25% 4.8% 10.42%;/*t 20px l/r 16px b 30px*/
       background-color: rgba(255, 255, 255, 0.7);
}

/*Стили для блока-обёртки с кнопками*/
.inner__nav-toggle {
       position: relative;
       margin-bottom: 10.42%;
}

.nav-toggle {
       width: 100%;/*288px*/
       height: auto;
       border: 2px solid yellow;
}

/*Стили для кнопки, которая закрывает меню*/
.nav-toggle__btn {
       position: absolute;
       right: 0;
       top: 0;
       display: -webkit-box;
              display: flex;
       -webkit-box-pack: center;
              justify-content: center;
       -webkit-box-align: center;
              align-items: center;
}

.btn {
       width: 1.375rem; /*22px*/
       height: 1.4375rem; /*23px*/
}

.btn__stripe {
       position: absolute;
       left: -18.5%;
}

.stripe {
       width: 140%;
       height: 0.125rem;/*2px*/
       background-color: #342B2B;
}

/*Поворот линий кнопки*/
.stripe--rtt__lft {
       -webkit-transform: rotate(135deg);
       transform: rotate(135deg);
}

.stripe--rtt__rgt {
       -webkit-transform: rotate(-135deg);
       transform: rotate(-135deg);
       top: 40%;
}

/*Элементы каталога*/
/*Заголовок*/
.inner__head {
       margin-bottom: 5.5%;/*16px*/
}

.head {
       width: 100%;
       height: auto;
       font-family: "Cormorant-SB", serif;
       font-size: 1.5rem;/*24px*/
       line-height: 1.1;
       border: 1px solid red;
}

.head--color__grey {
       color: #342B2B;
}

/*Список меню*/
/*Стили для блока-обёртки*/
.inner__box {
       display: -webkit-box;
       display: flex;
       -webkit-box-pack: justify;
               justify-content: space-between;
       -webkit-box-align: baseline;
               align-items: baseline;
}

.box {
       width: 100%;
       height: auto;
       max-height: 100%;
       border: 1px solid blue;
}

/*Стили для блоков с элементами списка*/
.list {
       width: auto;
       height: auto;
       list-style: none;
       /*border: 1px solid green;*/
}

.item {
       width: 100%;
       height: auto;
       border: 1px solid red;
}

.item:not(:last-of-type) {
       padding-bottom: 1rem;/*16px*/
}

.link {
       font-family: "Cormorant-R", serif;
       line-height: 1.125;
       text-decoration: none;
       white-space: nowrap;
}

.link--color__grey {
       font-size: 1rem;/*16px*/
       color: #342B2B;
}

/*Стили для отзывчивости*/
@media screen and (orientation: portrait) {
       /*Стили для блока с логотипом*/
       .logo--hide {
              display: none;
       }
}
