/*Общие стили для блока с панинацией*/
.collection__pagination,
.new__pagination,
.about__pagination {
       position: absolute;
       top: 50%;/*264px*/
       right: 4.17%;/*60px*/
       transform: translateY(-50%);
       display: flex;
       flex-direction: column;
       align-items: center;
}

/*Стили для номеров страниц*/
/*Текущая страница*/
.link-page--current {
       font-family: "OS-SB", sans-serif;
       color: #91171D;
}

/*Остальные страницы*/
.pagination__link-page,
.pagination__shape {
       margin: 72.95% 0;/*t/b 15px*/
}

.link-page--other {
       font-family: "OS-R", sans-serif;
       text-decoration: none;
       color: #342B2B;
}

/*Медиа-запросы*/
/*Планшеты*/
@media screen and (max-width: 1280px) {
       .pagination {
              display: none;
       }
}

/*Десктоп*/
@media screen and (min-width: 1280px) {
       /*Стили для номеров страниц*/
       /*Текущая страница*/
       .link-page--current {
              font-size: 1rem;/*16px*/
       }

       /*Остальные страницы*/
       .link-page--other {
              font-size: 0.75rem;/*12px*/
       }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
       /*Стили для номеров страниц*/
       /*Текущая страница*/
       .link-page--current {
              font-size: 1.125rem;/*18px*/
       }

       /*Остальные страницы*/
       .link-page--other {
              font-size: 0.875rem;/*14px*/
       }
}

@media screen and (min-width: 1920px) {
       /*Стили для номеров страниц*/
       /*Текущая страница*/
       .link-page--current {
              font-size: 1.25rem;/*20px*/
       }

       /*Остальные страницы*/
       .link-page--other {
              font-size: 1rem;/*16px*/
       }
}