/*Общие стили для блока*/
.main__content {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 6.94%;/*95px*/
}

.content {
  width: 100%;/*1368px*/
  height: 86.97vh;/*668px*/
  padding: 0 5.85%;/*l/r 80px*/
}

/*Стили для блока-обёртки (отображает страницы приложения)*/
.wrap {
  width: 73.76%;/*1010px*/
  height: 100%;
  padding: 2.07% 2.07% 0;/*t/l/r 25px b 0*/
  border-radius: 1em;/*16px*/
  background-color: #F3F3F3;
  box-shadow: 0 0.3125em 0.625em #999999;
  overflow-y: auto;
}