/*Общие стили для блока*/
.main__content {
  display: inline-flex;
  justify-content: space-evenly;
}

.content {
  width: 100%;
  height: 100vh;
  border: 2px solid blue;
}

/*Стили для блока-обёртки (отображает страницы приложения)*/
.wrap {
  width: 70%;
  height: 100%;
  border: 2px solid yellow;
}