/*Общие стили для блока*/
.main__content {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.83%;/*25px*/
}

.content {
  width: 100%;/*1368px*/
  height: auto;
  padding: 0 5.85%;/*l/r 80px*/
}

/*Стили для блока-обёртки (отображает страницы приложения)*/
.wrap {
  width: 57.8%;/*791px*/
  height: auto;
  background-color: transparent;
}