/*Импорт стилей*/
/*Шрифты*/
@import url("./../common__files/css/_fonts.css");

/*Блок "Header"*/
@import url("./blocks/header/header.css");

/*Стили для блока "Content":
Блок "Pagination"*/
@import url("blocks/content/__pagination/content__pagination.css");

/*Форма регистрации*/
@import url("./blocks/content/__login/content__login.css");

/*Блок "Collection"*/
@import url("./blocks/content/__collection/content__collection.css");

/*Блок"New"*/
/* @import url("blocks/content/__new/content__new.css"); */

/*Блок"About"*/
/* @import url("blocks/content/__about/content__about.css"); */

/*Блок"Blog"*/
/* @import url("blocks/content/__blog/content__blog.css"); */

/*Блок "Subscribe"*/
/* @import url("blocks/content/__subscribe/content__subscribe.css"); */

/*Стили для блока "Footer"*/
/* @import url("blocks/footer/footer.css"); */

/*Общие стили*/
* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
body {
       overflow-x: hidden;
       font-size: 16px;
       line-height: 1.12;
}