/*Импорт стилей для блоков, входящих в состав "collection"*/
@import url("./__sale/collection__sale.css");
@import url("./__description/collection__description.css");
@import url("./__produckt/collection__produckt.css");

/*Общие стили для блока "collection"*/
.content__collection {
       position: relative;
       display: flex;
}

.collection {
       width: 100%;/*1440px*/
       height: 100vh;/*840px*/
}

@media screen and (min-width: 1024px) {
       /*Стили для блока с переключателем слайдера*/
       .left,
       .right {
              cursor: pointer;
       }
}