/*Общие стили для слайдера*/
.collection__produckt {
       position: relative;
}

.produckt {
       width: 50%;/*720px*/
       height: 100%;/*840px = 100vh*/
       background-color: #F3ECE4;
       background-position: 50% 50%;
       background-size: 100% 100%;
       background-repeat: no-repeat;
       border: 2px solid blue;
}

.produckt::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(236,229,225, 0.42);
}

/*Стили для блока-обёртки*/
.produckt__wrapper {
       position: relative;
       left: -14.58%;/*105px*/
       top: 9.52%;/*80px*/
       z-index: 1;
       display: flex;
       transition: all 0.7s ease-in-out;
}

.wrapper {
       width: auto;
       max-width: 84.03%;/*605px*/
       height: 80.95%;/*680px*/
       border: 2px solid yellow;
}

/*Общие стили для слайдера*/
.wrapper__prod {
       position: relative;
       display: none;
}

.prod {
       width: 100%;
       height: 100%;
}

.prod--current {
       -webkit-animation: current linear 0.7s;
               animation: current linear 0.7s;
       display: block;
}

/*Стили для элементов слайдера*/
/*Слайды*/
.img {
       width: 100%;
       height: 100%;
}

/*Общие стили для блока с названием и ценой товара (на слайде)*/
.prod__caption {
       position: absolute;
       left: 50%;
       bottom: 13.22%;/*80px*/
       transform: translateX(-50%);
}

.caption {
       width: auto;
       height: auto;
       text-align: center;
       border: 1px solid blue;
}

.caption--size__m {
       padding: 3.31% 4.3%;/*t/b 20px 26px*/
       font-family: "Cormorant-SB", serif;
       color: #91171D;
       background-color: rgba(236,229,225, 0.8);
}

/*Стили для блока с названием товара*/
.heading--size__m {
       font-size: 1.5rem;/*24px*/
       white-space: nowrap;
}

/*Стили для блока с ценой товара*/
.container {
       width: auto;
       height: auto;
}

.shape--color__red {
       background-color: #91171D;
}

.shape--pos__bottom {
       width: 19.62%;/*72px*/
       height: 0.0625rem;/*1px*/
}

.price--size__s {
       font-size: 1.125rem;/*18px*/
}

/*Стили для блока с переключателем слайдера*/
.wrapper__toggle {
       position: absolute;
       left: 50%;/*140px*/
       bottom: -10%;/*5px*/
       z-index: 1;
       transform: translateX(-50%);
       border: 2px solid red;
}

.toggle {
       min-width: 18.87%;/*114px*/
       height: auto;
}

.left,
.cur,
.right {
       font-family: "Cormorant-M", serif;
       color: #91171D;
}

.left,
.right {
       font-size: 1.25rem;/*20px*/
}

.cur {
       padding-left: 10%;
       font-size: 2.25rem;
}

.toggle__total {
       position: relative;
       top: 0.3125rem;/*5px*/
}

.total {
       padding-right: 10%;
       font-family: "Cormorant-R",serif;
       font-size: 1.25rem;/*20px*/
       color: #342B2B;
}

/*Стили для блока со ссылкой на весь каталог*/
.wrapper__link-more {
       position: absolute;
       right: 0;
       bottom: -7%;/*27px*/
       z-index: 1;
}

.link-more {
       font-family: "Cormorant-l", serif;
       font-size: 1.125rem;/*18px*/
       color: #342B2B;
}