/*Общие стили для блока "New"*/
.content__new {
       position: relative;
}

.new {
       height: auto;/*min-height = 530px*/
       text-align: center;
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.head--color__red {
       text-align: center;
       color: #91171D;
}

/*Стили для блока-обёртки*/
.holder {
       width: 100%;/*266px*/
       height: auto;
       text-align: center;
       border: 1px solid blue;
}

/*Стили для названий вкладок*/
.input {
       display: none;
}

/*Добавляется подчёркивание у названия текущей вкладки*/
.input:checked + .headline {
       border-bottom: 0.0625rem solid #342B2B;
}

/*Показывает контент выбранной вкладки*/
.input[id="dress"]:checked ~ .dress,
.input[id="blouse"]:checked ~ .blouse,
.input[id="skirts"]:checked ~ .skirts {
       display: -webkit-box;
       display: flex;
       -webkit-box-pack: justify;
               justify-content: space-between;
}

.headline {
       font-family: "Cormorant-SB", serif;
       font-size: 0.875rem;/*14px*/
       line-height: 1.12;
       color: #342B2B;
}

.headline:not(:last-of-type) {
       margin-right: 6.77%;/*18px*/
}

/*Стили для самих вкладок*/
.holder__tabs {
       display: none;/*Скрытие вкладок*/ 
}

.tabs {
       width: 100%;
       height: auto;
       border: 1px solid green;
}

/*Стили для блока с управлением слайдером*/
.tabs__control {
       position: absolute;
       top: 50%;
       -webkit-transform: translateY(-50%);
               transform: translateY(-50%);
       z-index: 1;
}

.control {
       font-family: "Cormorant-M", serif;
       font-size: 1.75rem;/*28px*/
       color: #352F2F;
}

.left {
       left: 0;
}

.right {
       right: 0;
}

/*Стили для слайдеров внутри вкладок*/
.tabs__carousel {
       position: relative;
       display: -webkit-box;
       display: flex;
       -webkit-box-pack: justify;
               justify-content: space-between;
}

.tabs__carousel:not(:last-of-type) {
       margin-right: 2.77%;/*20px*/
}

.carousel {
       width: calc((100% - 5.54%) / 3);/*(обёртка - отступы) / число слайдов*/
       height: auto;
}

/*Стили для слайдеров внутри слайдеров*/
.carousel__slide {
       position: relative;
       display: none;
}

.slide {
       width: 100%;/*min 266px*/
       height: auto;
}

.active {
       display: block;
}

/*Слайды*/
.picture {
       width: auto;
       height: auto;
       max-width: 100%;/*266px*/
}

/*Вывод общего количества лайков*/
/*Блок-обёртка для элементов*/
.slide__counter {
       position: absolute;
       right: 3.76%;/*10px*/
       top: 2.35%;/*10px*/
}

.counter {
       width: auto;
       height: auto;
       text-align: center;
       background-color: rgba(255,255,255,0.5);
}

/*Кнопка "лайк"*/
.like {
       width: 1.125rem;/*18px*/
       height: 1.125rem;/*18px*/
}

/*Поле для вывода количества лайков*/
.amount {
       font-family: "Cormorant-M", serif;
       font-size: 1.25rem;/*20px*/
       line-height: 1;
       color: #342B2B;
}

/*Стили для блока с названием и ценой товара*/
.caption {
       width: 100%;/*266px*/
       height: auto;
       padding: 3.76% 0;/*10px*/
       font-family: "Cormorant-M", serif;
       line-height: 1.12;
       color: #342B2B;
       text-align: center;
}

/*Название товара*/
.heading {
       font-size: 1.125rem;
}

/*Блок с ценой*/
.container {
       width: auto;
       height: auto;
       max-width: 100%;
       text-align: center;
}

/*Блок с линией (расположен перед ценой)*/
.shape {
       display: inline-block;
       width: 2rem;/*30px*/
       height: 0.0625rem;
       background-color: #342B2B;
}

/*Цена товара*/
.price {
       padding-left: 2%;
       font-size: 0.875rem;
}

/*Стили для блока с управлением слайдерами*/
.carousel__switch {
       display: inline;
       position: absolute;
       left: 3.76%;/*10px*/
       bottom: 18%;/*10px*/
}

.switch {
       font-family: "Cormorant-M", serif;
       font-size: 1.25rem;
       line-height: 1;
       color: #342B2B;
       background-color: rgba(255,255,255,0.5);
}

/*Стили для блока со ссылкой на весь каталог*/
.link-more {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;/*14px*/
       line-height: 1.12;
       color: #342B2B;
}

/*Стили для отзывчивости*/
/*При вертикальном расположении устройства*/
@media screen and (orientation: portrait) {
       /*Общие стили для блока "New"*/
       .content__new {
              margin: 18.75% auto 0;/*60px*/
       }

       .new {
              width: 90.4%;/*288px*/
              padding: 0 3.82%;/*0 11px*/
       }

       /*Стили для блока-обёртки*/
       .new__holder {
              margin: 5.56% 0;/*16px 0*/
       }

       /*Стили для самих вкладок*/
       .holder__tabs {
              margin-top: 5.2%;/*15px*/
       }
}

/*При горизонтальном расположении устройства*/
@media screen and (orientation: landscape) {
       /*Общие стили для блока "New"*/
       .content__new {
              margin: 7.82% auto 0;/*60px*/
       }

       .new {
              width: 86.98%;
              padding: 0 3%;/*0 20px*/
       }

       /*Стили для блока-обёртки*/
       .new__holder {
              margin: 2.4% 0;/*16px 0*/
       }

       /*Стили для самих вкладок*/
       .holder__tabs {
              margin-top: 2.25%;/*15px*/
       }
}

@media screen and (min-width: 768px) {
       /*Общие стили для блока "New"*/
       .new {
              width: 95.05%;/*730px*/
              padding: 0;
       }

       /*Стили для блока с управлением слайдером*/
       .tabs__control {
              display: none;
       }

       /*Стили для названий вкладок*/
       .headline {
              font-size: 1.5rem;/*16px*/
       }

       /*Стили для блока со ссылкой на весь каталог*/
       .link-more {
              font-size: 1rem;/*16px*/
       }
}