/*Общие стили для блока "New"*/
.content__new {
       position: relative;
       margin: 15.4% auto 0;/*60px*/
}

.new {
       width: 90.4%;/*288px*/
       height: auto;/*min-height = 530px*/
       padding: 0 3.82%;/*0 11px*/
       text-align: center;
       border: 2px solid red;
}

/*Стили для элементов блока*/
/*Заголовок*/
.head--color__red {
       text-align: center;
       color: #91171D;
}

/*Стили для блока с управлением слайдером*/
.new__control {
       position: absolute;
       top: 50%;
       -webkit-transform: translateY(-50%);
               transform: translateY(-50%);
       z-index: 1;
}

.left {
       left: 0;
}

.right {
       right: 0;
}

.control {
       font-family: "Cormorant-M", serif;
       font-size: 1.75rem;/*28px*/
       color: #352F2F;
       /*color: red;*/
}

/*Стили для блока-обёртки*/
.new__holder {
       margin: 10.42% 0 6.02%;/*30px 0 16px*/
}

.holder {
       width: 100%;/*266px*/
       height: auto;
       text-align: center;
       border: 1px solid blue;
}

/*Стили для названий вкладок*/
.input {
       display: none;
}

/*Добавляется подчёркивание у названия текущей вкладки*/
.input:checked + .headline {
       border-bottom: 0.0625rem solid #342B2B;
}

/*Показывает контент выбранной вкладки*/
.input[id="dress"]:checked ~ .dress,
.input[id="blouse"]:checked ~ .blouse,
.input[id="skirts"]:checked ~ .skirts {
       display: -webkit-box;
       display: flex;
       -webkit-box-pack: justify;
               justify-content: space-between;
}

.headline {
       font-family: "Cormorant-SB", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       color: #342B2B;
}

.headline:not(:last-of-type) {
       margin-right: 6.77%;/*18px*/
}

/*Стили для самих вкладок*/
.holder__tabs {
       display: none;/*Скрытие вкладок*/ 
       margin-top: 6.02%;/*16px*/
}

.tabs {
       /*width установлено ч/з JS*/
       width: auto;
       height: auto;
       /*border: 1px solid green;*/
}

/*Стили для слайдеров внутри вкладок*/
.tabs__carousel {
       display: -webkit-box;
       display: flex;
       -webkit-box-pack: justify;
               justify-content: space-between;
}

.carousel {
       /*width установлено ч/з JS*/
       width: auto;
       height: auto;
       /*border: 1px solid yellow;*/
}

.carousel__slide {
       position: relative;
}

/*Стили для слайдеров внутри слайдеров*/
.slide {
       /*width установлено ч/з JS*/
       width: auto;/*min 266px*/
       height: auto;
       border: 1px solid red;
}

/*Слайды*/
.picture {
       width: auto;
       height: auto;
       max-width: 100%;/*266px*/
       border: 1px solid black;
}

/*Кнопка "лайк"*/
.slide__like {
       position: absolute;
       right: 3.76%;/*10px*/
       top: 2.35%;/*10px*/
}

.like {
       width: 7.14%;/*19px*/
       height: 4.57%;/*17px*/
}


/*Стили для блока с названием и ценой товара*/
.caption {
       width: 100%;/*266px*/
       height: auto;
       padding: 3.76% 0;/*10px*/
       font-family: "Cormorant-M", serif;
       line-height: 1.12;
       color: #342B2B;
       text-align: center;
       border: 1px solid red;
}

/*Название товара*/
.heading {
       font-size: 1.125rem;
}

/*Блок с ценой*/
.container {
       display: inline;
       border: 1px solid green;
}

/*Блок с линией (расположен перед ценой)*/
.shape {
       display: inline-block;
       width: 2rem;/*30px*/
       height: 0.0625rem;
       background-color: #342B2B;
}

/*Цена товара*/
.price {
       padding-left: 2%;
       font-size: 0.875rem;
}

/*Стили для блока-обёртики с ценой*/
.container {
       width: 100%;
       height: auto;
       text-align: center;
}

/*Стили для блока с управлением слайдерами*/
.carousel__switch {
       position: absolute;
       left: 8%;/*10px*/
       bottom: 20%;
}

.switch {
       width: auto;
       height: auto;
       font-family: "Cormorant-M", serif;
       font-size: 1.25rem;
       line-height: 1.12;
       color: #342B2B;
       border: 2px solid red;
}

/*Стили для блока со ссылкой на весь каталог*/
.link-more {
       font-family: "Cormorant-l", serif;
       font-size: 0.875rem;
       line-height: 1.12;
       color: #342B2B;
       border: 1px solid yellow;
}