/*Общие стили для блока "Распродажа"*/
.collection__extra-info {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: center;
       transition: all 0.7s ease-out;
}

.extra-info {
       width: 5.28%;/*76px*/
       height: 90.48%;/*760px*/
       padding: 2.08% 1.53%;/*30px 22px*/
       background-color: #DECEC5;
       border: 1px solid blue;
}

/*Стили для блока "sale"*/
.extra-info__sale {
       transform: scale(-1);
       -webkit-writing-mode: vertical-rl;
           -ms-writing-mode: tb-rl;
               writing-mode: vertical-rl;
}

.sale {
       width: auto;
       height: auto;
       border: 1px solid green;
}

.shape {
       display: inline-block;
}

.shape--color__grey {
       background-color: #342B2B;
}

.shape--pos__upright {
       width: 0.0625rem;
       height: 5.875rem;/*94px*/
}

.sale__text {
       margin-top: 1.875rem;/*30px*/
}

.text {
       font-family: "Cormorant-l", serif;
       font-size: 1.125rem;/*18px*/
       color: #342B2B;
}