/*Общие стили для блока "Распродажа"*/
.collection__extra-info {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: center;
       transition: all 0.7s ease-out;
}

.extra-info {
       background-color: #DECEC5;
}

/*Стили для блока "sale"*/
.extra-info__sale {
       transform: scale(-1);
       -webkit-writing-mode: vertical-rl;
           -ms-writing-mode: tb-rl;
               writing-mode: vertical-rl;
}

.sale {
       width: auto;
       height: auto;
}

.shape {
       display: inline-block;
}

.shape--color__grey {
       background-color: #342B2B;
}

.shape--pos__upright {
       width: 0.0625rem;
       height: 5.875rem;/*94px*/
}

.sale__text {
       margin-top: 1.875rem;/*30px*/
}

.text {
       font-family: "Cormorant-l", serif;
       color: #342B2B;
}

/*Медиа-запросы*/
/*Планшеты*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
       /*Общие стили для блока "Распродажа"*/
       .extra-info {
              width: 6.51%;/*50px*/
              height: 100%;/*823px*/
              padding: 4.82% 0;/*t/b 37px 0*/
       }

       .text {
              font-size: 0.875rem;/*14px*/
       }
}

/*Десктоп*/
/*Общие стили*/
@media screen and (min-width: 1280px) {
       /*Общие стили для блока "Распродажа"*/
       .extra-info {
              width: 5.28%;/*76px*/
              height: 90.48%;/*760px*/
              padding: 2.08% 0;/*t/b 30px 0*/
       }
}

/*Стили для отдельных размеров экрана*/
@media screen and (min-width: 1280px) and (max-width: 1439px) {
       .text {
              font-size: 1rem;/*16px*/
       }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
       .text {
              font-size: 1.125rem;/*18px*/
       }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
       .text {
              font-size: 1.25rem;/*20px*/
       }
}

@media screen and (min-width: 1920px) {
       .text {
              font-size: 1.5rem;/*24px*/
       }
}